[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
.vs/


# Optional (recommended)
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
Recordings/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
